body {
  min-height: 100vh;
  background-image: url("/white-mountains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
header {
  border-bottom: 3px solid #537d91;
  text-shadow: 1px 1px 3px #1b2a49;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #6ba8a9;
}
h1 {
  font-family: "Cinzel Decorative", cursive;
}
.form-control {
  background-color: #d9eeec;
  color: #d9eeec;
  border-color: #537d91;
}

.special-form {
  box-shadow: 2px 2px 3px #537d91;
}
.top-btn {
  font-size: smaller;
  padding: 4pt;
  background: rgb(217, 238, 236);
  border-color: #537d91;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-family: "Cinzel Decorative", cursive;
  box-shadow: 2px 2px 3px #537d91;
}
.add-lst {
  text-shadow: 0.5px 0.5px 1px black;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #6ba8a9;
  font-size: 18pt;
  border-bottom: 1px solid #537d91;
}
.list-btn {
  padding: 0;
  float: right;
  color: #d9eeec;
  font-family: "Cinzel Decorative", cursive;
}

.list-title {
  color: white;
  border-bottom: 2px solid white;
  font-family: "Cinzel Decorative", cursive;
  text-shadow: 2px 2px 3px #1b2a49;
}

.submit-btn {
  font-size: x-small;
  padding: 3pt;
  margin-bottom: 0.25rem;
  background: #d9eeec;
  color: white;
  border-color: #537d91;
  text-shadow: 1px 1px 2px #1b2a49;
  font-family: "Cinzel Decorative", cursive;
  box-shadow: 2px 2px 3px #537d91;
}
.form-group {
  margin-bottom: 0.25rem;
  font-family: "Cinzel Decorative", cursive;
  color: white;
  text-shadow: 1px 1px 2px #1b2a49;
}

.remove-task {
  font-size: x-small;
  padding: 1pt 1pt 0 1pt;
  float: right;

  color: #d9eeec;
}

dt {
  font-weight: 400;
}
.quote {
  text-align: center;
  font-family: "Italianno", cursive;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgb(255, 255, 255, 0.3);
  box-shadow: 4px 4px 4px #537d91;
  border: 1px solid #537d91;
}

.list-cols {
  background-color: #6ba8a9;
  border: 1px solid #537d91;
}
.task-list {
  color: white;
  font-family: "Italianno", cursive;
  font-size: 1.5rem;
}
